@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Kaushan+Script&family=Merriweather+Sans:wght@800&family=PT+Sans:ital,wght@1,700&family=Teko:wght@600&display=swap');

.box{ 
	position: absolute;
}

@-webkit-keyframes move1 {
	0%{opacity: 0}
	70%{opacity: 0}
	74%{opacity: 0}
	81%{opacity: 1}
	87%{opacity: 0}
	88%{opacity: 0}
	100%{opacity: 0}


}

@-webkit-keyframes move7 {
	0% {
		opacity: 0;
	}

	99.9% {opacity: 0}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes move8 {
	0% {opacity: 0}
	35% { opacity: 0 }

	45% {opacity: 1}
	
	55% {opacity: 0}

	60% {opacity: 1}

	65% {opacity: 0}

	67% {opacity: 0}
	68% {opacity: 1}


	89% {opacity: 1}
	90% {opacity: 0}
	100% {opacity: 0}
}
@-webkit-keyframes move9 {
	0% {
		opacity: 0;
	}
	80% {opacity: 0;}
	100% {
		opacity: 1;
	}
